@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* xl  > 1000px*/
@media (min-width: 1000px) {
  .search-mobile {
    display: none;
  }
}

/* lg = 1000px */
@media (max-width: 1000px) {
  .box-search {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .search {
    display: none;
  }

  .search-icon {
    display: block;
  }
}
