@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-search-movie {
  height: 75vh;
  min-width: 25%;
  overflow-y: auto;
}

/* xl  > 1000px*/
@media (min-width: 1000px) {
  .search-mobile {
    display: none;
  }
}

/* lg = 1000px */
@media (max-width: 1000px) {
  /* search */
  .box-search {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .search {
    display: none;
  }
  .search-icon {
    display: block;
  }

  /* movie src  */
  .box-movie-src {
    grid-template-columns: repeat(3, 1fr);
  }

  /* search movie */
  .card-search-movie {
    min-width: 35%;
  }
}
/* 
@media (min-width: 768px) {
  .container-detail {
    height: 100vh;
  }
} */

/* md < 768px */
@media (max-width: 768px) {
  /* movie info */
  .box-movie-info {
    grid-template-columns: 1fr;
  }

  /* movie src  */
  .box-movie-src {
    grid-template-columns: repeat(2, 1fr);
  }

  /* search movie */
  .card-search-movie {
    min-width: 45%;
  }
}

/* sm < 576px */
@media (max-width: 576px) {
  /* navbar */
  .nav-brand {
    font-size: 1.5rem;
  }

  /* movie info */
  .box-img-movie-info {
    padding: 10px;
  }
  .text-movie-info h3,
  .text-movie-info p {
    font-size: 1.5rem;
  }

  /* movie src  */
  .box-movie-src {
    display: flex;
    overflow: auto;
  }
  .box-movie-src::-webkit-scrollbar {
    width: 0;
  }
  .card-movie-src {
    min-width: 65%;
  }

  /* search movie */
  .card-search-movie {
    min-width: 65%;
  }
}

/* xs < 365px */
@media (max-width: 365px) {
  .card-movie-src {
    min-width: 85%;
  }

  /* search movie */
  .card-search-movie {
    min-width: 85%;
  }
}
